# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.RPG Game.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\A\Desktop\Unity\RPG Game\.idea\.idea.RPG Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
