# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.SimpLRhythm.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\A\Desktop\Unity\SimpLRhythm\.idea\.idea.SimpLRhythm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
